h1
 {
  font-family: cursive;
  color: #00BFFF;
 }
 h2
 {
   font-family: cursive;
   color: #000FFF;
 }
 h3
 {
   font-family: cursive;
   color: #8B008B;
 }
 h4
 {
   font-family: cursive;
   color: #008000;
 }
body
{
text-align:center;
}
